.container{
    background: var(--tezos-secondary-background);
    padding: 15vh 0;
}
.alignCard{
    display: flex !important;
    flex-direction: row !important;
    padding-top: 5vh;
    justify-content: center;
    gap: 0 80px;
}
.cardImg{
    width:5vw;
    margin-top: 10px;
}
.title{
    color:var(--tezos-white);
    font-weight: bold;
    font-size: var(--font-size-mod-medium);
}
.desc{
    color:var(--tezos-text);
    font-size: var(--font-size-semi-medium);
    padding-right: 30px;
}