.container {
  background: var(--tezos-secondary-background);
  padding: 5vh 0;
}
.header {
  text-align: center;
  padding-top: 50px;
  font-size: 60px;
  color: var(--tezos-white) !important;
}
.blogContainer {
  margin-top: 80px;
  margin-left: 220px;
  display: flex;
  flex-direction: row;
}
.blogHeadingContent {
  display: flex;
  flex-direction: row;
}
.blogStar {
  background: var(--tezos-blue);
  font-size: 15px;
  width: 60px;
  height: 25px;
  border-radius: 15px;
  margin-left: 35px;
  margin-top: 10px;
}
.blogStarContent {
  margin-left: 10px !important;
  margin-top: 3px;
  display: flex;
  flex-direction: row;
  color: var(--tezos-white);
}
.blogLikes {
  width: 18px;
  margin-right: 5px;
}
.blogType {
  color: var(--tezos-blue);
  font-size: var(--font-size-mod-medium);
}
.blogDate {
  font-size: var(--font-size-mod-medium);
  color: var(--tezos-text);
  margin-left: 30px;
}
.blogTitle {
  margin-top: 20px;
  padding-right: 42px;
  color: var(--tezos-white);
}
.blogDuration {
  font-size: var(--font-size-semi-medium);
  color: var(--tezos-text);
  margin-top: 40px;
}
.alignCard {
  padding-left: 30px !important;
}
.blogImg {
  width: 24vw;
  height: 35vh;
  object-fit: fill;
  margin-top: -20px;
  margin-left: -35px;
}
.blogDecs {
  font-size: 14px;
  color: var(--tezos-text);
  padding-right: 50px;
}
.nextAction {
  color: var(--tezos-blue);

  margin-top: 50px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.banner {
  padding: 50px;
  background: url("../assets/banner.svg");
  background-repeat: no-repeat;
  background-size: 100vw 20vh;
  margin-top: 120px;
  display: flex;
  flex-direction: row;
}
.bannerDesc {
  color: var(--tezos-white);
  margin: -20px 0 0 320px;
}
.bannerBtn {
  background: var(--tezos-blue) !important;
  color: var(--tezos-white) !important;
  text-transform: inherit !important;
  width: 10vw !important;
  height: 8vh !important;
  border-radius: 5px !important;
  margin-left: 300px !important;
}
.blogSpeaker {
  margin-top: 100px;
}
.blogSpeaker img {
  width: 5vw !important;
}
.nextImg {
  width: 20px;
  margin-left: 10px;
}
.blogSubTitle {
  color: var(--tezos-white);
}
.carousel {
  margin-top: 50px !important;
  margin-left: -50px !important;
}