.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--tezos-white);
  margin-left: 540px;
}
.headerImg {
  width: 15vw;
  margin-left: 150px;
}
.headerLinks {
  font-size: 12px !important;
  margin: 10px 300px 0 0 !important;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}
.githubLink {
  margin-left: 160px !important;
}
.headerButton {
  position: absolute !important;
  color: white !important;
  background-color: transparent !important;
  border: 3px solid var(--tezos-white) !important;
  text-align: center;
  width: 130px !important;
  font-size: 12px !important;
  text-transform: inherit !important;
  border-radius: 5px;
  right: -130px;
  font-family: "Poppins", sans-serif;
}
.appBarColor {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
.appbarMagrinLeft {
  margin: -30px 15px 0 -30px !important;
}
@media (min-width: 320px) and (max-width: 414px) {
  .headerImg {
    width: 75vw !important;
    margin-left: -5vw;
  }
  .mobileHeaderButton {
    color: white !important;
    font-weight: bold;
    background: var(--tezos-blue) !important;
    height: 6vh !important;
    width: 50vw !important;
    border-radius: 8px !important;
  }
}
