.container {
  background-color: var(--tezos-background);
  color: var(--tezos-white);
  height: 200px;
  display: flex;
  flex-direction: row;
}
.partnerTitle {
  margin-left: 250px;
  top: 50px !important;
  position: relative;
  color: var(--tezos-text);
}
.line {
  width: 800px;
  border-bottom: 4px solid #1e2029;
  position: absolute;
  top: 820px;
  left: 700px;
}
.partnerLogo {
  width: 65vw;
  position: absolute;
  top: 850px !important;
  left: 250px;
}
@media (min-width: 320px) and (max-width: 414px) {
  .partnerTitle {
    margin-left: 10px !important;
    margin-top: -20px !important;
  }
  .partnerLogo {
    margin-left: -230px !important;
  }
  .line {
    width: 250px !important;
    left: 10px !important;
  }
}
